NEXT_APP_NAME_DEV="Petstok(dev)"
NODE_ENV=
DATABASE_URL=
DATABASE_URL_UNPOOLED=
URL_DEVELOPMENT=
URL_STAGING=
URL_PRODUCTION=
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=